.AsideButton.left {
  position: fixed;

  top: 50%;
  left: -34px;
  transform: rotate(-90deg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background-color: aqua;
  border-radius: .5rem;
  z-index: 1;
}
.AsideButton span {
  display: inline-block;
  padding: .5rem;
}

.AsideButton.right {
  position: fixed;

  top: 50%;
  right: -30px;
  
  transform: rotate(90deg);
  /* display: inline-flex; */
  /* align-items: center;
  justify-content: center; */
  gap: 5px;

  background-color: aqua;
  border-radius: .5rem;
  z-index: 1;
}